.navigation{
    background-color: rgb(231, 72, 1);
}
.carousel.slide.justify-content-center.mx-5{
    position: absolute;
    max-width: 110rem;
    max-height: 30rem;
}
.carousel-inner .carousel-item img{
    max-width: 110rem;
    max-height: 30rem;
}